body {
	background-color: #333;
	font-family: sans-serif;
	padding: 20px;
	color: #ccc;
	nav {
		background-color: #222;
		padding: 10px;
		color: #333;
		a {
			color: yellow;
		}
	}

	a {
		color: #aaa;
	}

	img.imgConference {
		cursor: pointer;
	}

	img.imgAudience {
		width: 400px;
	}
}
