<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		  content="IE=edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/main.css">
	<script src="./js/main.js" defer type="module"></script>
	<title>Info</title>
</head>

<body>
	<nav><a href="/">Home</a> | <a href="/info">Info</a></nav>
	<h1>Info</h1>
	<p>Our conference will be on 2022-04-23:</p>
	<p><%=message%></p>

	<p>Click on photo for more information:</p>
	<img class="imgConference" src="images/conference.jpg" alt="photo of conference">
	<div class="info"></div>
</body>

</html>